filetofileconnector/target/classes/filetofileconnector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="filetofileconnectorFlow">
        <file:inbound-endpoint path="C:\Users\admin\Desktop\Hari\Input" moveToDirectory="C:\Users\admin\Desktop\Hari\Backup" responseTimeout="10000" doc:name="File"/>
        <logger message="Transfering File : #[message.inboundProperties.originalFilename]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="C:\Users\admin\Desktop\Hari\Output" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
